.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.character-count {
    align-items: center;
    color: var(--gray-5);
    display: flex;
    font-size: 0.75rem;
    gap: .5rem;
    svg {
        color: var(--purple);
    }

    &--warning,
    &--warning svg {
        color: var(--red);
    }
}